.container{
  width: 100%;
}
.servicebox
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.imgser
{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
.heading{
    margin-top: 2%;
    margin-bottom: 3%;
    font-size: 40px;
    text-align: center;
}
.carservice
{
    width: 30%;
    margin-left: 2%;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(0,0,0,0.1);
}
.carservice:hover
{
    background-color: #0d6efd;
    cursor: pointer;
    color: white;
}
.txtbox
{
    display: flex;
    flex-direction: column;
    
}
.ul{
    margin-top:10px;
    font-size: 23px;
    height: 20px;
    align-items: center;
   display: flex;
   
  }
  .li{
    float: right;
    list-style-type: none;
    margin-left: 3%;
  }
  .link{
    color: #0d6efd;
    text-decoration: none;
  }

  @media screen and  (max-width: 600px) and (min-width: 400px) {
    .servicebox{
      width: 100%;
      margin-left: 5%;
      flex-direction: column;
    }
    .carservice{
      width: 90%;
      margin-bottom: 10%;
    }
    .heading{
      text-align: center;
    }
    .hnav{
      height: 72px;
    }
   .burger{
      display: block;
    }
  }