.container{
    width: 100%;
   
    display: flex;
    margin-bottom: 5%;
    margin-top: 5%;
    flex-direction: row-reverse;
    background-color: #0d6efd;
    align-items: center;
}
.item{
    width: 50%;
}