
.container{
  margin-top: 0px;
  padding: 0%;
  
  width: 100%;
}
.main{
  display: flex;
  flex-wrap: wrap;
 
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-20px);
  }
  60% {
      transform: translateY(-10px);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.movingtext{
  font-size: 24px;
  font-weight: bold;
  color: #0d6efd;
  animation: bounce 2s ;
    
}
.dealerheading{
  font-size: 55px;
  text-align:center;
  padding-top: 2%; 
  animation: zoomOut 3s ease infinite ;
  margin-bottom: 5px
}
.customer{
  margin-top: 5%;
  text-align: center;
  font-size: 24px;
      animation: zoomOut 3s ease infinite ;
  font-size: 40px;
}

.ul{
  margin-top:10px;
  font-size: 23px;
  height: 20px;
  align-items: center;
 display: flex;
 
}
.header{
  display: flex;
  
}
.hometext{
  padding-top: 5%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #0d6efd;
  width: 60%;
}
.homebutton{
  display: flex;
  
}
.homeimage{
  margin: 5% 5% 0 0;
  /* background:  var(--gradient); */
  border-radius: 10px;
  position:relative;
  animation: homeimage 3s;
}
@keyframes homeimage {
  0%{
    opacity:0;
  }
  
  100%{
    opacity: 1;
  }
}

.li{
  float: right;
  list-style-type: none;
  margin-left: 3%;
}
.link{
  color: #0d6efd;
  text-decoration: none;
}
.footermain{
  display: flex;
  padding-top: 3%;
  background-color: rgb(0, 0, 0,0.1);
  width: 100%;
  
  background-color: #0d6efd;
  color: whitesmoke;
  /* background-color: #0d6efd; */
}
.item{
  margin-left: 3%;
  width: 29%;
  color: white;
}
.footermenu{
  
  display: flex;
}
.item h3{
  margin-bottom: 0%;
  margin-top: 2%;
}

.cars{
  position: relative;
  width: 29%;
  height: 330px;
  margin-top: 2%;
  box-shadow: 1px 1px 41px rgb(0, 0, 0,0.1);
  border-radius: 0.5rem;
  background-color: rgb(0, 0, 0,0.1);
  padding-bottom: 1%;
margin-left: 3.3%;
}

.carslogo{
  width: 100%;
  border-radius: 10px;
  height: 200px;
}
.rent{
    text-align: center;   
    position: absolute;
    width: 95%;
    border-radius: 10px;
    background-color: #0d6efd;
    color: wheat;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.model{
  margin-bottom: 1%;
  border:2px solid lightslategrey;
  width:60px;
  color: lightslategrey;
  padding:5px 3px 3px 5px;
  border-radius:5px
}
.testimonial{
  display: flex;
  
  
}
.section{
  background-color:white;
   
}
.testbox{
  margin: 1% 0% 5% 3%;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  
  width: 30%;
  box-shadow: 41px 41px 41px 41px rgb(0, 0, 0,0.1);
  border-radius: 0.5rem;
}
.testbox:hover{
  background-color: #0d6efd;
  color: white;
}
.burger{
  display: none;
  cursor: pointer;
  position:absolute;
  right: 5%;
  top: 15px;
}
.line{
  background-color: #0d6efd;
  width: 33px;
  margin: 5px 3px;
  height: 4px;
}
.testimage{
  width:100px;
  height:100px;
  border-radius:100%;
}
@media screen and  (max-width: 600px) and (min-width: 400px)  {
  /* Styles for screens with a width of 600 pixels or more */
  .container{
    width: 100%;
  }
  .hnav{
    height: 72px;
  }
  .testimage{
    margin-left: 35%;
  }
   .burger{
    display: block;
  }
  
  .section{
    width: 100%;
    margin-left: 0%;
  }
  .hometext{
    text-align: center;
    width: 100%;
  }
  .main{
    width: 100%;
    flex-wrap: wrap;
  }
  .cars{
    margin: 5%;
    background-color: rgb(0, 0, 0,0.1);
    width: 90%;
  }
  .header{
    width: 100%;
    flex-direction: column-reverse;
  }
  .footermain{
    width: 100%;
    text-align: center;
    flex-direction: column;
  }
  .testimonial{
    
    flex-direction: column;
  }
  .testbox{
    border-radius: 20px;
    width: 90%;
    padding: 0%;
    margin: 5%;
    text-align: center;
  }
  .homefortuner{
    width:80%;
    height: 200px;
    margin-left: 10%;
  }
  .ul{
    height: 1%;
    flex-direction: column;
  }
  .li{
    margin-top: 2%;
  }
  .item{
    width: 100%;
    margin-top: 2%;
  }
  .footermenu{
    flex-direction: column;
  }
  .homebutton{
    margin-top: 5%;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px){
  .header{
    width: 100%;
    flex-direction: column-reverse;
  }
  .homebutton{
    margin-top: 5%;
  }
} 
