
.container{
  margin-top: 0px;
  padding: 0%;
  
  width: 100%;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-20px);
  }
  60% {
      transform: translateY(-10px);
  }
}


.dealerheading{
  font-size: 55px;
  text-align:center;
  padding-top: 2%; 
  animation: zoomOut 3s ease infinite ;
  margin-bottom: 5px
}



.header{
  display: flex;
  
}
.hometext{
  padding-top: 5%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #0d6efd;
  width: 60%;
}
.homebutton{
  display: flex;
  
}
.homeimage{
  margin: 5% 5% 0 0;
  /* background:  var(--gradient); */
  border-radius: 10px;
  position:relative;
  animation: homeimage 3s;
}

@media screen and  (max-width: 600px) and (min-width: 400px)  {
  /* Styles for screens with a width of 600 pixels or more */
  .container{
    width: 100%;
  }
  .hnav{
    height: 72px;
  }
  .testimage{
    margin-left: 35%;
  }
   .burger{
    display: block;
  }
  
  .section{
    width: 100%;
    margin-left: 0%;
  }
  .hometext{
    text-align: center;
    width: 100%;
  }
  .main{
    width: 100%;
    flex-wrap: wrap;
  }
  .cars{
    margin: 5%;
    background-color: rgb(0, 0, 0,0.1);
    width: 90%;
  }
  .header{
    width: 100%;
    flex-direction: column-reverse;
  }
  .footermain{
    width: 100%;
    text-align: center;
    flex-direction: column;
  }
  .testimonial{
    
    flex-direction: column;
  }
  .testbox{
    border-radius: 20px;
    width: 90%;
    padding: 0%;
    margin: 5%;
    text-align: center;
  }
  .homefortuner{
    width:80%;
    height: 200px;
    margin-left: 10%;
  }
  .ul{
    height: 1%;
    flex-direction: column;
  }
  .li{
    margin-top: 2%;
  }
  .item{
    width: 100%;
    margin-top: 2%;
  }
  .footermenu{
    flex-direction: column;
  }
  .homebutton{
    margin-top: 5%;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px){
  .header{
    width: 100%;
    flex-direction: column-reverse;
  }
  .homebutton{
    margin-top: 5%;
  }
} 
