.container{
 
}
.ul{
    margin-top:10px;
    font-size: 23px;
    height: 20px;
    align-items: center;
   display: flex;
   
  }
  .li{
    float: right;
    list-style-type: none;
    margin-left: 3%;
  }
  .link{
    color: #0d6efd;
    text-decoration: none;
  }
  .hnav{
    height: 72px;
  }
  .burger{
    display: block;
  }
.form{
    padding-top: 5%;
    margin-top: 10%;
    margin-left: 35%;
    width: 30%;
    padding-bottom: 5%;
    display: flex;
    border-radius: 5px;
   border: 3px solid #0d6efd;
    flex-direction: column;
}

.mb3{
    display: flex;
    margin-left: 35%;
    margin-top: 2%;
    flex-direction: column;
}
.input{
    margin-right: 30%;
    border-radius: 5px;
    border: 1px solid #0d6efd;
}
.submit{
    background-color: #0d6efd;
    color: white;
    width: 20%;
    margin-left: 35%;
    margin-top: 5%;
    padding: 2px;
    border-radius: 5px;
    border: none;
}
.notaccount{
    margin-top: 3%;
    margin-left: 35%;
}
@media only screen and (max-width: 600px) and (min-width: 400px) {
    .form{
        border: none;
        width: 100%;
        display: flex;
        font-size: 23px;
        margin: 60% 0% 0% 0%;
        padding-left: 10%;
        justify-content: center;
    }
    .input{
        height: 40px;
        width: max-content;
    }
    .notaccount{
        margin-left: 0%;
    }
    .mb3{
        display: flex;
        width: 100%;
        margin: 0%;
    }
    .submit{
        margin-left: 0%;
        width: fit-content;
        padding: 2%;
    }
}